doctype html 
html
  head
    title Ketan Dance Academy
    block scripts
    block style 
        

  body
    nav#navbar
            ul  
                div#logo 
                    img(src="/static/img/logo.png", alt="logo")
                    | HDA
                li #[a(href="/") Home] 
                li #[a(href="/contact") Contact]
    block content
    footer#footer 
      | Copyright &copy; 2024 KetanDanceAcademy.com | All rights reserved  #footer